body {
    background-color:rgb(253, 245, 219);
}

#welcome-text {
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 4em;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.4em;
}

#first-life-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    max-width: 200px;
    margin: 5em auto 0;
}


#first-life-buttons button {
    width: 100%;
    padding: 1.25em;
    font-size: 0.75em;
    box-sizing: border-box;
    border-radius: 3em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Georgia, Times, 'Times New Roman', serif ;
    cursor: pointer;
}

#first-life-buttons button:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.swal2-title {
    margin-top: -3em;
    color: black;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.swal2-inputLabel {
    font-family: Georgia, Times, 'Times New Roman', serif;
}

#divider {
    position: absolute;
    left: 40%;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: black;
    display: none;
}

#profile-divider {
    position: absolute;
    top: 20%;
    left: 40%;
    width: calc(60% - 1px);
    height: 2px;
    background-color: black;
    display: none;
    z-index: 1;
}

#age-button {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    border-radius: 50%;
    background: #000;
    color: #fff;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    z-index: 2;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: none;
}


#age-button:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4);
    transform: translate(-50%, -50%) scale(1.1);
}

#name-text {
    position: absolute;
    top: 6%;
    left: 42%;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    color: black;
    display: none;
}

#occupation-text {
    position: absolute;
    top: 11%;
    left: 42%;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    color: black;
    display: none;
}

#box-of-life {
    position: absolute;
    top: 24%;
    left: 42%;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    color: black;
    display: none;
}

#box-of-content {
    position: absolute;
    top: 24%;
    left: 42%;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    color: black;
    display: none;
}

#age {
    position: absolute;
    top: 23%;
    left: 42%;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    color: black;
    display: none;
}

#interactions {
    display: none;
}

.interaction-buttons {
    position: absolute;
    left: 11%;
    top: 10%;
    width: 15em;
    height: 3em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.interaction-buttons:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.7);
}

#relationship-content {
    display: none;
}

.relationships img {
    width: 200px;
    height: auto;
}
.relationships {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: center;
}

.swal2-goback-button {
    margin-bottom: -21em;
}

.swal2-cancel-main, .swal2-next-main , .swal2-goback-main {
    margin-bottom: -8em;
}

.swal2-gender-button {
    width: 100px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-size: 16px;
    cursor: pointer;
}

.swal2-gender-button.active {
    background-color: darkred;
    color: #fff;
    border: 1px solid #4caf50;
}


#countryDropdown, #cityDropdown {
    width: 25em;
    font-family: Arial, Helvetica, sans-serif;
    
}

.img-flag {
    width: 20px;
    height: 15px;
    margin-right: 8px;
    vertical-align: middle;
}



.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-family: 'Arial', sans-serif !important;
    font-size: 16px !important;
    color: #333 !important;
}

.select2-container--default .select2-results__option {
    font-family: 'Arial', sans-serif !important;
    font-size: 16px !important;
    color: #333 !important;
}



